.local-packages/
.pytest_cache/
__pycache__/
*.py[cod]
reports/
build/
dist/
*.egg-info/
.coverage
htmlcov/
.idea/
.vscode/
说明文档/**/*.aux
说明文档/**/*.fdb_latexmk
说明文档/**/*.fls
说明文档/**/*.log
说明文档/**/*.out
说明文档/**/*.pdf
说明文档/**/*.synctex.gz
说明文档/**/*.toc
课程报告/**/*.aux
课程报告/**/*.fdb_latexmk
课程报告/**/*.fls
课程报告/**/*.log
课程报告/**/*.out
课程报告/**/*.pdf
课程报告/**/*.synctex.gz
课程报告/**/*.toc
